.row {
    display: block;
    width: 100%;
}

.column-4 {
    width: 25%;
    display: inline-block;
}

.outer-section {
    width: 220px;
}

.display-section {
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    display: block;
    margin: 7px;
}